@import url('../../../../node_modules/normalize.css/normalize.css');
@import url('../../../../node_modules/font-awesome/css/font-awesome.min.css');
@import url('../../../../node_modules/bootstrap/dist/css/bootstrap.min.css');

@violet: #555b6e;
@darkBlue: #89b0ae;
@lightBlue: #bee3db;
@green: #5dfdcb;
@pink: #ffd6ba;
@white: #ffffff;

@import url('./layouts/mainLayout');







